<%- include("layouts/header") -%>
<%- include("layouts/navbar") -%>

<div class="container">
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Nome</th>
                <th>Cognome</th>
                <th>Matricola</th>
                <th>Azioni</th>
            </tr>
        </thead>
        <tbody>
            <% for(let i=0; i<elenco.length; i++) { %>
            <tr>
                <td><%= elenco[i].nome %></td>
                <td><%= elenco[i].cognome %></td>
                <td><%= elenco[i].matricola %></a></td>
                <td>
                    <a href="/dettaglio/<%= elenco[i]._id %>" class="btn btn-primary">
                        <i class="fa fa-search-plus"></i>
                    </a>
                    
                    <a href="/modifica/<%= elenco[i]._id %>" class="btn btn-outline-warning">
                        <i class="fa fa-pencil"></i>
                    </a>

                    <form action="/elimina/<%= elenco[i]._id %>" method="post">
                        <button type="submit" class="btn btn-outline-danger">
                            <i class="fa fa-trash"></i>
                        </button>
                    </form>
                </td>
            </tr>
            <% } %>
        </tbody>
    </table>
</div>


<%- include("layouts/footer") -%>

